.messageWrapper{
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 0 auto;
    margin-left: 10px;
    font-family:"Poppins";


}
.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    align-self: end;
    margin-right: 20px;
    object-fit: cover;
}
.mainInfo{
    max-width: 400px;
    background-color: #61dafb;
    opacity: 0.8;
    position: relative;
    border-radius: 20px 20px 20px 0px;
}
.mainInfo::before{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -6px;
    top: 98px;
    border: 7px solid;
    border-radius: 50px 0 0 0;
    border-color: #61dafb;
}
.mainInfo::after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 1px;
    top: 100px;
    border: 5px solid;
    border-color: #61dafb ;
}
.mainInfo .authorName{
    color: #282c34;

    margin-left: 10px;
    padding-left: 10px;
}
.messageTime{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;

}
.mainMessage{
    margin: 10px;
    word-wrap: break-word;
}
.mainMessage p{
    padding-right: 10px
;
}