
.button{
    margin: 15px;
    width: 70px;
    height: 30px;
    background: lemonchiffon;
    color: #282c34;
    outline: none;
    border-radius: 30px;
    font-family: "Poppins";
    font-weight: bold;
    transition: 0.8s;
}
.button:hover{
    background: #61dafb;
    opacity: 0.5;
}
.button:focus{
    outline: azure solid 2px;
}
.button:active{
    background: gainsboro;
}
.active{
    background: #61dafb;
}
.affair{
    display: flex;
}
.item{
    margin: 15px;
    width: 60px;
   /* margin-left: 60px;*/
}
.high{
    color: brown;
}
.middle{
    color: crimson;
}
.low{
    color: hotpink;
}